/*
fonts
*/

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-Regular.eot');
    src: url('../fonts/ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Regular.woff') format('woff'),
         url('../fonts/ClearSans-Regular.ttf') format('truetype'),
         url('../fonts/ClearSans-Regular.svg#open_sans') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-Bold.eot');
    src: url('../fonts/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Bold.woff') format('woff'),
         url('../fonts/ClearSans-Bold.ttf') format('truetype'),
         url('../fonts/ClearSans-Bold.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-BoldItalic.eot');
    src: url('../fonts/ClearSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-BoldItalic.woff') format('woff'),
         url('../fonts/ClearSans-BoldItalic.ttf') format('truetype'),
         url('../fonts/ClearSans-BoldItalic.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-Italic.eot');
    src: url('../fonts/ClearSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Italic.woff') format('woff'),
         url('../fonts/ClearSans-Italic.ttf') format('truetype'),
         url('../fonts/ClearSans-Italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}


/*
rest
*/

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
    padding: 0;
    margin: 0;
    color: #000000;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'ClearSans';
    background-color: white;
}

a {
    color: #800;
}

.page-header {
    border: none;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

h4 {
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
}

.container {
    max-width: 860px;
}

.about {
    line-height: 1.3em;
    font-size: 1.33em;
    padding-left: 20px;
}

.page-header a {
    border: none;
    text-align: center;
    display: block;
    width: 120px;
    margin: auto;
}

.page-header p {
    text-align: center;
    margin-top: 5px;
    font-size: 1.2em;
}

#page {
    min-height: 100%;
    margin-bottom: -42px;
}

#page:after {
  content: "";
  display: block;
  height: 42px;
}

#footer {
    height: 42px;
    margin: auto;
    text-align: center;
    border-top: 1px solid #DDD;
    padding: 10px 15px;
}

#footer a {
    color: black;
    text-decoration: underline;
}

#back-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
}

#back-top {
    font-size: 2em;
}
